html {
        font-family: 'Open Sans', sans-serif;
	background-color:#115D6C;
}


p {
    line-height:2;
}

h1 {
	
	color:#005C84;
	text-align:center;
	font-size:40px; 
	text-shadow: 2px 2px 1px black;
}


#latin {
	color:#2A272A; 
}

.xususiyyet{
	color:#2A272A; 
}

img[src]{
	width:180px; 
}

a:hover{
	color:darkmagenta;
}


body{
	margin:0 auto;
	width: 100%;
	max-width:1200px;
	border: 5px solid black;
	background-color: #6D9B3D;
	position:relative;
}


img[src="images/firefox.png"]{
	width:180px;
}

  button{
    padding:0.3em 1.2em;
    color:white;
    background-color: rgb(136, 1, 1);
    border-radius: 3em;
    font-size:0.8em;
}

button:hover{
color:black;
}

figure{
position:relative; right:40px;
}

article{
padding:45px;
}

footer{
padding:40px;
}

  video {
  width: 100%;
  max-width: 400px;
  height: 100%;
  } 

iframe{
padding:40px;
}

.about{
    padding:40px
}
/*For making google maps responsive*/

  .map-responsive{

    overflow:hidden;

  padding-bottom: 56%;
    position:relative;
  margin-bottom: 0px;
}

  .map-responsive iframe{

   top:0;
   left:0;

     height:68%;

    width:58%; 

    position:absolute;

}   
